.h2 {
  color: #cccccc;
}

.App {
  text-align: center;
}
.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 140px;
  padding: 20px;
  color: white;
}
.container {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 50px;
}
.ScrollWrapper {
  margin-top: 20px !important;
  max-height: 55vh !important;
  width: 100%;
  overflow-y: auto !important;
  direction: ltr !important;
  scrollbar-color: #d4aa70 #e4e4e4 !important;
  scrollbar-width: thin !important;
}
.ScrollWrapper::-webkit-scrollbar {
  width: 6px;
}

.ScrollWrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.ScrollWrapper::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #cccccc 0%, #cccccc 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
.ant-card-meta-title {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .container {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 50px;
  }
}
